@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideDownUp {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }
  
  99% {
    background-image: url(../assets/update.svg);
  }

  to {
    transform: translateY(40%);
    opacity: 0;
    background-image: url(../assets/timer.svg);
  }
}
