  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
      <meta content="yes" name="apple-mobile-web-app-capable">
      <meta content="yes" name="apple-touch-fullscreen">
      <meta content="telephone=no,email=no" name="format-detection">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>英雄联盟音乐节</title>
      <script charset="utf-8">
        !function(e,t){function n(){t.body?t.body.style.fontSize=12*o+"px":t.addEventListener("DOMContentLoaded",n)}function d(){var e=i.clientWidth/10;i.style.fontSize=e+"px"}var i=t.documentElement,o=e.devicePixelRatio||1;if(n(),d(),e.addEventListener("resize",d),e.addEventListener("pageshow",function(e){e.persisted&&d()}),o>=2){var a=t.createElement("body"),s=t.createElement("div");s.style.border=".5px solid transparent",a.appendChild(s),i.appendChild(a),1===s.offsetHeight&&i.classList.add("hairlines"),i.removeChild(a)}}(window,document);
      </script>
    </head>
    <body>
      <div id="load" class="page show">
        <img src="" alt=""/>
        <p>加载中.</p>
      </div>
      <div id="home" class="page home">
        <div class="logoWrapper">
          <img class="logo" src="<%= require('./assets/homeLogo.png') %>" alt="Logo">
          <img class="logoHl" src="<%= require('./assets/homeLogoHl.png') %>" alt="LogoHightlight">
        </div>
        <img class="title" src="<%= require('./assets/homeTitle.png') %>" alt="Title">
        <span class="start"></span>
        <!-- <img src="<%= require('./assets/homeBottomHl.png') %>" alt="Highlight"> -->
      </div>
      <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
      <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js" crossorigin="anonymous"></script>
    </body>
  </html>
