html,
body,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn {
  cursor: pointer;
  user-select: none;
}

.btn a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

@font-face {
  font-family: "MFBanHei";
  src: url("./fonts/MFBanHei.eot"); /* IE9 */
  src: url("./fonts/MFBanHei.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

  url("./fonts/MFBanHei.woff") format("woff"), /* chrome、firefox */
  url("./fonts/MFBanHei.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

  url("./fonts/MFBanHei.svg#MFBanHei") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --mainColor: #f6d194;
  --secondColor: #020002;
  --thirdColor: #1e1510;
  --paraColor: #fbedd7;
  --mainBackgroundColor: #000;
  --loadBackgroundColor: #0a0c10;
  --mainFont: MFBanHei;
  --circlrWrapperWidth: 408;
  --circleWrapperWidthLoading: 539;

  --mainTextShadow: {
    text-shadow: -1px 3px 1px rgba(0, 0, 0, 0.5), 0 2px #8c5730;
  }
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: var(--mainColor);
  background: #000;
  font-family: var(--mainFont), BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  transform-style: preserve-3d;
  perspective: 500px;
}

img {
  max-width: 750px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainBackgroundColor);
  background-size: cover;
  background-position: top center;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 1s;
  transform: translateX(100%);

  &.show {
    transform: translateX(0);
  }

  &.finish {
    transform: translateX(-100%);
  }
}

#load {
  padding-top: 18%;
  text-align: center;
  background-color: var(--loadBackgroundColor);
  z-index: 10;

  & h4 {
    margin-top: 120px;
    color: var(--paraColor);
    letter-spacing: 4.44px;
    font-size: 32px;
  }

  & .loadingWrapper {
    position: relative;
    margin: 39px auto 0;
    width: 589px;
    height: 10px;
    background-color: #fff;
    overflow: hidden;

    & span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #fbeac6, #f6d194);
      transition: left 0.5s;
    }
  }

  & .logoWrapper {
    position: relative;
    height: var(--circleWrapperWidthLoading)px;
    line-height: var(--circleWrapperWidthLoading)px;
  }

  & .loadingLogo {
    width: 283px;
    height: 339px;
    vertical-align: middle;
  }

  & .circleWrapper {
    position: absolute;
    left: calc((750 - var(--circleWrapperWidthLoading)) / 2)px;
    width: var(--circleWrapperWidthLoading)px;
    height: var(--circleWrapperWidthLoading)px;

    & .circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-position: center;
      animation: spin infinite linear;
    }

    & .circle1 {
      width: 100%;
      background-image: url(./assets/circle1.svg);
      background-size: 100%;
      animation-duration: 10s;
    }

    & .circle2 {
      background-size: 77.9%;
      background-image: url(./assets/circle2.svg);
      animation-duration: 6s;
    }

    & .circle3 {
      background-size: 66.7%;
      background-image: url(./assets/circle3.svg);
      animation-duration: 8s;
    }

    & .circle4 {
      background-size: 63.7%;
      background-image: url(./assets/circle4.svg);
      animation-duration: 5s;
    }

    & .circle5 {
      background-position: 77% 88%;
      background-size: calc(100 / var(--circleWrapperWidthLoading) * 100%);
      background-image: url(./assets/circle5.svg);
      animation-duration: 4s;
    }
  }
}

/* Home */
#home {
  text-align: center;

  & .backgroundWrapper {
    padding-top: 686px;
    width: 100%;
    height: 1334px;
    background-color: var(--mainBackgroundColor);
    background-image: url(./assets/homeBottomHl.png), url(./assets/homeBackground.png);
    background-size: cover;
    background-position: top center;
  }

  & .logoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & .logo {
      width: 345px;
    }

    & .logoHl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  & .title {
    width: 581px;
    height: 220px;
  }

  & .start {
    display: inline-block;
    margin-top: 82px;
    padding-top: 28px;
    width: 311px;
    height: 91px;
    background: url(./assets/homeBtn.svg) no-repeat center/contain;
    font-size: 36px;
    color: var(--thirdColor);
    letter-spacing: 5px;
  }
}

/* Quiz */
#quiz {
  padding-top: 40px;
  background-image: url(./assets/quizBg.png);

  & .levelWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 5px 0 0;
    text-align: right;
  }

  & .level {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding-right: 24px;
    width: 266px;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    letter-spacing: 3.33px;
    background: url(./assets/label.svg) center / contain;
  }

  & .timerWrapper {
    position: relative;
    margin: 0 auto;
    width: var(--circlrWrapperWidth)px;
    height: var(--circlrWrapperWidth)px;

    &.paused {
      & .timer {
        background: url(./assets/play.svg) no-repeat center / 130px 130px;
        font-size: 0;
      }

      & .circle {
        animation-play-state: paused;
      }
    }

  }

  & .timer {
    text-align: center;
    height: var(--circlrWrapperWidth)px;
    line-height: calc(var(--circlrWrapperWidth) - 0)px;
    background: url(./assets/timer.svg) no-repeat center / 173px 179px;
    color: var(--secondColor);
    font-size: 54px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d9b05b;
    transition: background 0.5s, font-size 0.3s;
  }

  & .circleWrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    & .circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-position: center;
      animation: spin infinite linear;
    }

    & .circle1 {
      width: 100%;
      background-image: url(./assets/circle1.svg);
      background-size: 100%;
      animation-duration: 10s;
    }

    & .circle2 {
      background-size: 77.9%;
      background-image: url(./assets/circle2.svg);
      animation-duration: 6s;
    }

    & .circle3 {
      background-size: 66.7%;
      background-image: url(./assets/circle3.svg);
      animation-duration: 8s;
    }

    & .circle4 {
      background-size: 63.7%;
      background-image: url(./assets/circle4.svg);
      animation-duration: 5s;
    }

    & .circle5 {
      background-position: 77% 88%;
      background-size: calc(100 / var(--circlrWrapperWidth) * 100%);
      background-image: url(./assets/circle5.svg);
      animation-duration: 4s;
    }
  }

  & .quizCount {
    margin: 36px 0 20px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3.89px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 294px;
      height: 29px;
      background: url(./assets/decorator.svg) no-repeat center / contain;
    }

    &::after {
      transform: scaleX(-1);
      margin-right: 0;
      margin-left: 10px;
    }
  }

  & .question {
    margin: 0 auto;
    width: 566px;
    text-align: center;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 5.5px;

    @apply --mainTextShadow;
  }

  & .answerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 42px auto 0;
    width: calc(750px - 46px);
    height: calc(234px * 2 + 31px);

    &.text {
      height: calc(139px * 2 + 31px);

      & .answerCard {
        height: 139px;

        & span {
          display: inline-block;
          top: 44px;
          left: 0;
          width: 100%;
          font-size: 38px;
          text-align: center;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url(./assets/cardText.svg) no-repeat center / contain;
        }

        &.congratulation::after,
        &.rightAnswer::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url(./assets/cardAnswer.svg) no-repeat center / 100%;
          animation: fadeIn 0.3s;
        }

        &.wrongAnswer::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: url(./assets/cardSelect.svg) no-repeat center / 100%;
          animation: fadeIn 0.3s;
        }
      }
    }
  }

  & .answerCard {
    position: relative;
    display: inline-block;
    padding: 31px 0 19px;
    width: 330px;
    height: 234px;
    flex: none;
    animation: slideDown 0.8s;

    & img {
      width: 100%;
      max-height: 100%;
    }

    & span {
      position: absolute;
      top: 51px;
      left: 22px;
      font-size: 36px;
      letter-spacing: 5px;

      @apply --mainTextShadow;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(./assets/card.svg) no-repeat center / contain;
    }

    &.congratulation::after,
    &.rightAnswer::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(./assets/cardAnswer.svg) no-repeat center / contain;
      animation: fadeIn 0.3s;
    }

    &.wrongAnswer::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(./assets/cardSelect.svg) no-repeat center / contain;
      animation: fadeIn 0.3s;
    }
  }
}

/* Result */
#result {
  background-image: url(./assets/resultBg.png);

  & .medalContainer {
    padding-top: 151px;
    height: 511px;
    text-align: center;
    background: url(./assets/medalTray.svg) no-repeat center 176px / 349px 299px;
  }

  & #medal {
    margin-top: -30px;
    height: 400px;
    width: 400px;
  }

  & .board {
    position: relative;
    margin: 13px auto 0;
    padding: 50px 82px 20px;
    width: 698px;
    height: 430px;
    background: url(./assets/board.svg) no-repeat center / contain;
    color: var(--paraColor);
    text-align: center;
    font-size: 32px;
    letter-spacing: 4.44px;
    line-height: 64px;

    & .highlight {
      margin: 0 10px;
      color: var(--mainColor);
    }

    & h4 {
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      color: var(--mainColor);
      font-size: 48px;
      letter-spacing: 6.67px;
      background: linear-gradient(#f7cf94, #fadeb7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 79px;
    padding: 0 42px;
  }

  & .btn {
    display: inline-block;
    flex: none;
    margin-bottom: 41px;
    width: 311px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-size: 36px;
    color: var(--thirdColor);
    background: url(./assets/btn.svg) no-repeat center / contain;
    white-space: nowrap;
    letter-spacing: 5px;

    &.btnLarge {
      width: 666px;
      background-image: url(./assets/btnLarge.svg);
    }
  }
}
