@import '~normalize.css';
@import './styles/global.css';
@import './styles/fonts.css';
@import './styles/animations.css';

:root {
  --mainColor: #f6d194;
  --secondColor: #020002;
  --thirdColor: #1e1510;
  --paraColor: #fbedd7;
  --mainBackgroundColor: #000;
  --loadBackgroundColor: #0a0c10;
  --mainFont: MFBanHei;
  --circlrWrapperWidth: 344;
  --circleWrapperWidthLoading: 539;

  --mainTextShadow: {
    text-shadow: -1px 3px 1px rgba(0, 0, 0, 0.5), 0 2px #8c5730;
  }
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: var(--mainColor);
  background: #000;
  font-family: var(--mainFont), BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  transform-style: preserve-3d;
  perspective: 500px;
}

img {
  max-width: 750px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainBackgroundColor);
  background-size: cover;
  background-position: top center;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 1s;
  transform: translateX(100%);
  z-index: -1;

  &.show {
    z-index: 0;
    transform: translateX(0);
  }

  &.finish {
    z-index: 0;
    transform: translateX(-100%);
  }
}

.circleWrapper {
  position: absolute;

  & .circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-position: center;
    animation: spin infinite linear;
  }

  & .circle1 {
    width: 100%;
    background-image: url(./assets/circle1.svg);
    background-size: 100%;
    animation-duration: 10s;
  }

  & .circle2 {
    background-size: 77.9%;
    background-image: url(./assets/circle2.svg);
    animation-duration: 6s;
  }

  & .circle3 {
    background-size: 66.7%;
    background-image: url(./assets/circle3.svg);
    animation-duration: 8s;
  }

  & .circle4 {
    background-size: 63.7%;
    background-image: url(./assets/circle4.svg);
    animation-duration: 5s;
  }

  & .circle5 {
    background-position: 77% 88%;
    background-size: calc(100 / var(--circleWrapperWidthLoading) * 100%);
    background-image: url(./assets/circle5.svg);
    animation-duration: 4s;
  }
}

/* Load */
#load {
  padding-top: 18%;
  text-align: center;
  background-color: var(--loadBackgroundColor);

  &.show {
    z-index: 10;
  }

  & h4 {
    margin-top: 120px;
    padding: 0 5px;
    color: var(--paraColor);
    letter-spacing: 4.44px;
    font-size: 32px;
  }

  & .loadingWrapper {
    position: relative;
    margin: 39px auto 0;
    width: 589px;
    height: 10px;
    background-color: #fff;
    overflow: hidden;

    & span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, #fbeac6, #f6d194);
      transition: left 0.5s;
    }
  }

  & .logoWrapper {
    position: relative;
    height: var(--circleWrapperWidthLoading)px;
    line-height: var(--circleWrapperWidthLoading)px;
  }

  & .loadingLogo {
    width: 283px;
    height: 339px;
    vertical-align: middle;
  }

  & .circleWrapper {
    left: calc((750 - var(--circleWrapperWidthLoading)) / 2)px;
    width: var(--circleWrapperWidthLoading)px;
    height: var(--circleWrapperWidthLoading)px;
  }
}

/* Home */
#home {
  text-align: center;

  & .backgroundWrapper {
    position: relative;
    margin-top: -120px;
    padding-top: 686px;
    width: 100%;
    height: 1334px;
    background-color: var(--mainBackgroundColor);
    background-image: url('./assets/commercialLogo.png'), url(./assets/homeBottomHl.png), url(./assets/homeBackground.png);
    background-size: 320px 65px, cover, cover;
    background-position: center 96%, top center, top center;
  }

  & .logoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & .logo {
      width: 345px;
    }

    & .logoHl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  & .title {
    width: 581px;
    height: 220px;
  }

  & .start {
    display: inline-block;
    margin-top: 82px;
    padding-top: 28px;
    width: 311px;
    height: 91px;
    background: url(./assets/homeBtn.svg) no-repeat center/contain;
    font-size: 36px;
    color: var(--thirdColor);
    letter-spacing: 5px;
  }
}

/* Quiz */
#quiz {
  padding-top: 20px;
  background-image: url(./assets/quizBg.png);

  & .levelWrapper {
    width: 100%;
    margin-top: 18px;
    padding: 0 5px 0;
    height: 59px;
    text-align: right;
  }

  & .level,
  & .starWrapper {
    display: inline-block;
    float: left;
    vertical-align: top;
    text-align: right;
    width: 305px;
    height: 59px;
    line-height: 59px;
    font-size: 24px;
    letter-spacing: 3.33px;
    background: url(./assets/label.svg) no-repeat center / contain;
  }

  & .level {
    float: right;
    padding-right: 24px;
    background-image: url(./assets/labelReverse.svg);
  }

  & .starWrapper {
    padding-left: 15px;
    padding-top: 11px;
    text-align: left;
    font-size: 0;

    & .star {
      position: relative;
      display: inline-block;
      margin-right: 5px;
      vertical-align: top;
      width: 33px;
      height: 33px;
      background: url(./assets/star.svg) no-repeat center / contain;
    }

    & .right::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(./assets/starRight.svg) no-repeat center / contain;
      animation: zoomInDownScale 0.6s ease-in;
    }

    & .wrong {
      background-image: url(./assets/starWrong.svg);
    }
  }

  & .timerWrapper {
    position: relative;
    margin: 0 auto;
    width: var(--circlrWrapperWidth)px;
    height: var(--circlrWrapperWidth)px;

    &.paused {
      & .timer {
        background: url(./assets/play.svg) no-repeat center / 130px 130px;
        font-size: 0;
      }

      & .circle {
        animation-play-state: paused;
      }
    }
  }

  & .timer {
    text-align: center;
    height: var(--circlrWrapperWidth)px;
    line-height: calc(var(--circlrWrapperWidth) - 0)px;
    background: url(./assets/timer.png) no-repeat center / 173px 179px;
    color: var(--secondColor);
    font-size: 54px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d9b05b;
    transition: opacity 0.5s;
  }

  & .circleWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & .quizCount {
    margin: 20px 0 20px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3.89px;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 294px;
      height: 29px;
      background: url(./assets/decorator.svg) no-repeat center / contain;
    }

    &::after {
      transform: scaleX(-1);
      margin-right: 0;
      margin-left: 10px;
    }
  }

  & .question {
    margin: 0 auto;
    width: 566px;
    text-align: center;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 5.5px;

    @apply --mainTextShadow;
  }

  & .answerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 42px auto 0;
    width: calc(750px - 46px);

    &.text {
      & .answerCard {
        height: 180px;

        &::before {
          background-image: url(./assets/cardText.svg);
        }

        &.congratulation::after {
          background-image: url(./assets/cardTextRight.svg);
        }

        &.wrongAnswer::after {
          background-image: url(./assets/cardTextWrong.svg);
        }
      }
    }
  }

  & .answerCard {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding: 31px 0 30px;
    width: 330px;
    height: 234px;
    flex: none;
    animation-duration: 0.8s;

    & img {
      width: 100%;
      height: 100%;
    }

    & span {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 0;
      padding: 0 20px;
      width: 100%;
      font-size: 36px;
      letter-spacing: 5px;
      text-align: center;
      transform: translateY(-50%);

      @apply --mainTextShadow;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(./assets/card.svg) no-repeat center / contain;
    }

    &.congratulation::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(./assets/cardRight.svg) no-repeat center / contain;
      animation: fadeIn 0.3s;
    }

    &.wrongAnswer::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url(./assets/cardWrong.svg) no-repeat center / contain;
      animation: fadeIn 0.3s;
    }
  }
}

/* Result */
#result {
  background-image: url(./assets/resultBg.png);

  & .medalContainer {
    padding-top: 51px;
    height: 411px;
    text-align: center;
    background: url(./assets/medalTray.svg) no-repeat center 76px / 349px 299px;
  }

  & #medal {
    margin-top: -30px;
    height: 400px;
    width: 400px;
  }

  & .board {
    position: relative;
    margin: 13px auto 0;
    padding: 50px 82px 20px;
    width: 698px;
    height: 430px;
    background: url(./assets/board.svg) no-repeat center / contain;
    color: var(--paraColor);
    text-align: center;
    font-size: 32px;
    letter-spacing: 4.44px;
    line-height: 64px;

    & .highlight {
      margin: 0 10px;
      color: var(--mainColor);
    }

    & h4 {
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      color: var(--mainColor);
      font-size: 48px;
      letter-spacing: 6.67px;
      background: linear-gradient(#f7cf94, #fadeb7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 42px;
  }

  & .btn {
    display: inline-block;
    flex: none;
    margin-bottom: 41px;
    width: 311px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    font-size: 36px;
    color: var(--thirdColor);
    background: url(./assets/btn.svg) no-repeat center / contain;
    white-space: nowrap;
    letter-spacing: 5px;

    &.btnLarge {
      width: 666px;
      background-image: url(./assets/btnLarge.svg);
    }
  }
}

#copyright {
  margin: 10px 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  opacity: 0.4;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url(./assets/bingyanLogo.png) no-repeat center / contain;
    vertical-align: bottom;
  }
}

#share {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 410px 80px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7) url('./assets/shareBoard.svg') no-repeat center top / 653px 609px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 5px;
  line-height: 72px;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
